body {
            font-family: Arial, sans-serif;
            background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNnVqbmFia2ExamE1cHd3YWYyOG5rMzJpcnl2Y3N3YWUzcWwwam8xcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fUQ4rhUZJYiQsas6WD/giphy.gif");
            margin: 150px;
            padding: 150px;
            color: white;
            background-size: 140%;
            background-repeat: no-repeat;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .container {
            max-width: 290px;
            margin: auto;
            background: #e00101;
            color: #333;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(199, 26, 26, 0.2);
        }

        .container h2 {
            margin-top: 0;
        }
        .containe {
            border-radius: 20px;
            background: linear-gradient(135deg, #3636a7, #dadae2);
            padding: 20px;
        }

        #situacaoaluno {
            font-size: 18px;
            font-weight: bold;
            color: #1ee20c;
        }
        #nomealuno {
            
            width: 95px;
            font-size: 18px;
            font-weight: bold;
            color: #e47777;
            padding-left: 15px;
            border-radius: 10px;
            border: 2px solid #3a3a5f;
        }