@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: rotate(360deg);
        opacity: 1;
    }

    75% {
        opacity: 1;
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
        opacity: 0;
    }
}

@keyframes spinz {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* CSS para el Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    animation: spinz 1.35s linear infinite;
    width: 100%;
    height: 100%;
    /* background-color: #ffffff; */
    background-color: #110f0f;
    /* Change the background color here */
    z-index: 100;
}

.loader {
    border: 16px solid #efeee8;
    border-top: 16px solid #8eacec;
    /* Change the preloader color here */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.35s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    ;

}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
}

.user-profile {
    max-width: 60px;
    margin: auto;
    padding: 1rem;
    background-color: #b65454;
    box-shadow: 0 2px 5px rgba(117, 236, 6, 0.959);
    border-radius: 30px;
    display: inline-block;

}

.user-profile1 {
    max-width: 89px;
    margin: auto;
    padding: 1rem;
    background-color: #b65454;
    box-shadow: 0 2px 5px rgba(117, 236, 6, 0.959);
    border-radius: 30px;
    -moz-orient: right;
    display: inline-block;
}

.href {
    color: #f04040;
    text-decoration: none;
    transition: color 0.3s ease;
}

.wrapperItems {
    width: 48%;
    height: 10%;
    cursor: pointer;
    border-radius: 15px;
    transition-duration: 0.2s;
}


.logo img {
    width: 120px;
    height: auto;
    margin-top: 5px;
    margin-left: -150px;
    margin-right: 30px;
    transition: 0.3s;
}

.logo img:hover {
    transform: scale(1.05);
}

.titulo {
    flex: 5;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.menu {
    display: flex;
    gap: 130px;
    margin-right: -160px;
}

.menu a {
    background-color: #b65454;
    padding: 8px 20px;
    border-radius: 20px;
}

.chamado {
    word-spacing: 0.1rem;
    text-align: center;
}

footer {
    width: 100%;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin-top: 10px 0 0 0;
}

/* container principal */
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
}

/* caixas */
.footer-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    flex: 1;
    min-width: 250px;
}

/* títulos */
.footer-box h3 {
    margin-bottom: 15px;
    border-left: 4px solid #ff6600;
    padding-left: 10px;
}

/* mapa */
.footer-box iframe {
    width: 100%;
    height: 200px;
    border: 0;
    border-radius: 10px;
}

/* textos */
.footer-box p {
    margin: 8px 0;
    font-size: 0.9rem;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ccc;
    text-decoration: none;
}

.social a:hover {
    color: #ff6600;
}

.contato {
    display: flex;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}
.contato:hover {
    color: #ff6600;
}
.email {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}
.email:hover {
    color: #ff6600;
}

.instagram {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.logo-instagram {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.github {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.logo-github {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.linkedin {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.logo-linkedin {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

/* botão */
.btn-maps {
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    background-color: #ff6600;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-maps:hover {
    background-color: #e65c00;
}

/* parte inferior */
.footer-bottom {
    text-align: center;
    padding: 15px;
    background-color: #111;
    font-size: 0.8rem;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-box h3 {
        border: none;
        padding: 0;
    }
}