  /* RESPONSIVO */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-box h3 {
        border: none;
        padding: 0;
    }
}
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	  opacity:1;
	}
	50% {
	  transform: rotate(360deg);
	  opacity:1;
	}
	75% {
	  opacity:1;
	  transform: rotate(180deg);
	}
	100% {
	  transform: rotate(0deg);
	  opacity:0;
	}
  }
  
  @keyframes spinz {
	0% {
	  opacity:1;
	}
	50% {
	  opacity:1;
	}
	75% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }

/* CSS para el Preloader */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	animation: spinz 1.35s linear infinite;
	width: 100%;
	height: 100%;
	/* background-color: #ffffff; */
	background-color: #110f0f;       /* Change the background color here */
	z-index: 100;
  }
  
  .loader {
	border: 16px solid #efeee8;
	border-top: 16px solid #8eacec;  /* Change the preloader color here */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1.35s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
  }



body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;

    display: flex;
    flex-direction: column; /* 👈 organiza em coluna */
    align-items: center;
    margin: 0;
}

/* HEADER NO TOPO */
header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
}

/* MENU */
menu {
    display: flex;
    gap: 1300px;
    margin-right: -160px;
}

.menu a {
    background-color: #b65454;
    padding: 8px 20px;
    border-radius: 20px;
}


/* CONTAINER (LOGIN CENTRALIZADO) */
.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    overflow: hidden;

    margin-top: 80px; /* 👈 espaço abaixo do menu */
}

/* FORM */
.form-section {
    padding: 40px;
    display: none;
}

.form-section.active {
    display: block;
}

h2 {
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #667eea;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #764ba2;
}

.toggle-link {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.toggle-link a {
    color: #667eea;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.toggle-link a:hover {
    text-decoration: underline;
}
footer {
    width: 100%;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 10px 0 0 0;
}

/* container principal */
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}
.footer-container .text{
    font-size: 1.7rem;
    color: #d11c1c;
    margin-top: 152px;
    margin-left: -300px;
}
/* caixas */
.footer-box {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    gap: 1px;
    flex: 1;
    min-width: 250px;
}

/* títulos */
.footer-box h3 {
    margin-bottom: 15px;
    border-left: 4px solid #ff6600;
    padding-left: 10px;
}

/* mapa */
.footer-box iframe {
    width: 100%;
    height: 200px;
    border: 0;
    border-radius: 10px;
}

/* textos */
.footer-box p {
    margin: 8px 0;
    font-size: 0.9rem;
}

/* redes sociais */
.social {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.contato {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}
.social a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ccc;
    text-decoration: none;
}

.social a:hover {
    color: #ff6600;
}
.contato {
    display: flex;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}
.contato:hover {
    color: #ff6600;
}
.email {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}
.email:hover {
    color: #ff6600;
}

.instagram {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.logo-instagram {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.github {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.logo-github {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.linkedin {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.logo-linkedin {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

/* botão */
.btn-maps {
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    background-color: #ff6600;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-maps:hover {
    background-color: #e65c00;
}

/* parte inferior */
.footer-bottom {
    text-align: center;
    padding: 15px;
    background-color: #111;
    font-size: 0.8rem;
}

